@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

$line-border-color: blue;
$line-border-empty: #e0e0e0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6fb;
  font-family: "Muli", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  .container {
    text-align: center;
  }

  .process-container {
    width: 350px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;

    &::before {
        content: "";
        background-color: $line-border-empty;
        position: absolute;
        top: 50%;
        left: 0;
        height: 4px;
        width: 100%;
        transform: translateY(-50%);
        transition: all ease 0.4s;
        z-index: -1;
    }
  }

  .process{
    background-color: $line-border-color;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    transition: all ease 0.4s;
    z-index: -1;
  }

  .circle {
    background-color: #fff;
    color: $line-border-empty;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid $line-border-empty;
    transition: all ease 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      border: 3px solid $line-border-color;
    }
  }

  .btn {
    background-color: $line-border-color;
    color: #fff;
    padding: 2px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgb(160, 160, 160);

    &.disabled {
      cursor: not-allowed;
      background-color: $line-border-empty;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}